body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

.MuiGrid-root > .MuiGrid-item {
  padding-left: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.css-6mb3u2-MuiGrid-root {
  margin-bottom: 0px !important;
}

.deck {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4);
  grid-template-rows: repeat(5);
  width: 90%;
  height: 100%;
  gap: 10px;
}

.card {
  position: relative;
  width: 200px;
  height: 200px;
}

img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card {
  transform-style: preserve-3d;
  transition: transform 800ms;
}

.front,
.back {
  border-radius: 8px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000091;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  box-shadow: 2px 2px 10px rgba(63, 63, 63);
  cursor: pointer;
}

.back {
  transform: rotateY(180deg);
  background-color: #c3cfee;
}
.front {
  background-color: #3458bb;
}

.is-flipped {
  transform: rotateY(180deg);
}

.card.hidden {
  display: none;
}

button {
  font-weight: 600 !important;
  font-size: 16px !important;

  filter: brightness(0.9);
}

@media screen and (max-width: 500px) {
  .deck {
    gap: 4px;
  }
  .card {
    width: 85px;
    height: 85px;
  }

  body {
    flex-direction: column;
  }
}
@media screen and (min-width: 500px) and (max-width: 825px) {
  .deck {
    gap: 5px;
  }
  .card {
    width: 105px;
    height: 105px;
  }

  body {
    flex-direction: column;
  }
}
@media screen and (min-width: 825px) and (max-width: 1000px) {
  .deck {
    gap: 10px;
  }
  .card {
    width: 170px;
    height: 170px;
  }

  body {
    flex-direction: column;
  }
}

.card .front,
.card .back {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}

@media only screen and (max-width: 768px) {
  h3 {
    font-size: 28px !important;
  }

  .timer {
    font-size: 18px !important;
  }

  button {
    font-size: 12px !important;
  }

  p,
  label,
  input {
    font-size: 19px !important;
    font-weight: 400;
  }
  .css-17lqswo {
    font-size: 12px !important;
  }
}
